{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recess-order",
        "stylelint-config-html/svelte",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": 4,
        "order/order": [
            "less-mixins",
            "dollar-variables",
            "custom-properties",
            "declarations",
            "rules"
        ],
        "no-empty-source": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "include",
                    "mixin",
                    "each"
                ]
            }
        ]
    },
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ]
}
