@font-face {
    font-family: Melete-UltraLight;
    src: url('../fonts/Melete-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: Melete-Light;
    src: url('../fonts/Melete-Light.otf') format('opentype');
}

@font-face {
    font-family: Melete-Regular;
    src: url('../fonts/Melete-Regular.otf') format('opentype');
}

@font-face {
    font-family: Melete-Medium;
    src: url('../fonts/Melete-Medium.otf') format('opentype');
}

@font-face {
    font-family: Melete-Bold;
    src: url('../fonts/Melete-Bold.otf') format('opentype');
}
