$primary-dark-color: rgb(34 40 49);
$secondary-dark-color: rgb(57 62 70);
$primary-light-color: rgb(255 211 105);
$secondary-light-color: rgb(238 238 238);
$text-light-color: rgb(238 238 238);

$root-font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
    'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', sans-serif;

$root-font-size: 14px;

$root-font-weight: normal;

$root-line-height: 1.8;

$root-letter-spacing: 0.05em;

@mixin text-omit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
